/dts-v1/;

/ {
    compatible = "utk,utk-fdt-v1";

    #address-cells = <1>;
    #size-cells = <1>;

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;
        cpu@0 {
            compatible = "generic,i386";
            reg = <0x0>;
        };
        cpu@1 {
            compatible = "generic,i386";
            reg = <0x1>;
        };
        cpu@2 {
            compatible = "generic,i386";
            reg = <0x2>;
        };
        cpu@3 {
            compatible = "generic,i386";
            reg = <0x3>;
        };
    };

    memory@0 {
        #address-cells = <1>;
        #size-cells = <1>;

        device_type = "memory";
        reg = <0x0 0x10000000>;
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;
        reservedlow: lowmem@0 {
            reg = <0x0 0x100000>;
        };
        reservedacpi: acpimem@1 {
            reg = <0xffe1000 0x001000>;
        };
    };

    platform {
        #address-cells = <1>;
        #size-cells = <1>;

        /* Place the VGA node first to get output on the VGA (early init) */
        vga@B8000 {
            compatible = "x86,x86-vga-text";
            reg = <0xB8000 0x7D00>;
            comm = <0x3D4 0x3D5>;
            resolution = <80 25>;
            is-console;
        };

        acpi: acpi@E0000 {
            compatible = "x86,x86-acpi";
            reg = <0xE0000 0x20000>;
        };

        lapic: local-apic {
            compatible = "x86,x86-lapic";
            acpi-node = <&acpi>;
        };

        /* Interrupt controller must be placed before any device using
         * interrupts.
         *
         * Only one controller be set as interrupt-controller, the rest should
         * must be disabled by commenting or removinf the attribute.
         * It is important to keep all node to ensure the hardware is corrtly
         * initialized. The node can be removed if the component is just not
         * present.
         */
        interrupt-controllers {
            pic {
                compatible = "x86,x86-pic";
                //interrupt-controller;
                #address-cells = <0>;
                #interrupt-cells = <2>;
                int-offset = <0x30>;
                is-chained;
                comm = <0x20 0x21 0xA0 0xA1>;
            };

            io-apic {
                compatible = "x86,x86-io-apic";
                interrupt-controller;
                #address-cells = <0>;
                #interrupt-cells = <2>;
                int-offset = <0x30>;
                acpi-node = <&acpi>;
                lapic-node = <&lapic>;
            };
        };

        /* PIT capabilities (global, synchronized, interrupt):
         *    * is-main
         *    * is-aux (or blank)
         *
         * RTC capabilities (global, synchronized, interrupt):
         *    * is-rtc
         *    * is-aux (or blank)
         *
         * TSC capabilities (per CPU, unsinchronized, no interrupt):
         *    * is-lifetime
         *    * is-aux (or blank)
         *
         * HPET capabilities (global, synchronized, interrupt):
         *    * is-main
         *    * is-lifetime
         *    * is-aux (or blank)
         *
         * LAPIC-Timer capabilities (per CPU, unsynchronized, interrupt):
         *    * is-main
         *    * is-aux (or blank)
         *    * Note: the LAPIC timer needs a base timer to calibrate its
         *            frequency. The base timerneeds to support returning the
         *            current time in nanoseconds and must be as precise as
         *            possible.
         *
         * Set PIT as is-main for compatibility, low precision but synchronized
         * schedule and system ticks
         * Set HPET to is-main for global schedule and system ticks
         * synchronization over all CPUS.
         * Set LAPIC-Timers as is-main for more precise but unsynchronized
         * schedule and system ticks
         */
        timers {
            pit {
                compatible = "x86,x86-pit";
                interrupts = <1 0>; /* 0: is IRQ; 1: IRQ line */
                comm = <0x34 0x40>;
                qartz-freq = <0x1234DD>;
                freq = <500>;
                freq-range = <20 8000>;
                is-aux;
            };

            rtc {
                compatible = "x86,x86-rtc";
                interrupts = <1 8>; /* 0: is IRQ; 1: IRQ line */
                comm = <0x70 0x71>;
                qartz-freq = <32768>;
                freq = <2>;
                freq-range = <2 8192>;
                is-rtc;
            };

            basetime: tsc {
                compatible = "x86,x86-tsc";
                freq = <3600000000>;
                is-lifetime;
            };

            lapic-timer {
                compatible = "x86,x86-lapic-timer";
                interrupts = <0 0x21>; /* 0: is not IRQ; 1: Int line */
                freq = <500>;
                bus-freq-divider = <16>;
                /* The current hardware has a fixed-rate TSC that is the most
                 * precise way to measure time.
                 */
                base-timer = <&basetime>;
                lapic-node = <&lapic>;
                is-main;
            };
        };

        uart0 {
            compatible = "x86,x86-generic-serial";
            comm = <0x3F8>;
            baudrate = <115200>;
            // TODO: UARTdriver does not support interrupt for now
            //interrupts = <1 3>; /* 0: is IRQ; 1: IRQ line */
        };

        uart1 {
            compatible = "x86,x86-generic-serial";
            comm = <0x2F8>;
            baudrate = <115200>;
            // TODO: UARTdriver does not support interrupt for now
            //interrupts = <1 4>; /* 0: is IRQ; 1: IRQ line */
        };

        uart2 {
            compatible = "x86,x86-generic-serial";
            comm = <0x3E8>;
            baudrate = <115200>;
            // TODO: UARTdriver does not support interrupt for now
            //interrupts = <1 3>; /* 0: is IRQ; 1: IRQ line */
        };

        uart3 {
            compatible = "x86,x86-generic-serial";
            comm = <0x2E8>;
            baudrate = <115200>;
            // TODO: UARTdriver does not support interrupt for now
            // interrupts = <1 4>; /* 0: is IRQ; 1: IRQ line */
        };
    };
};